$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$color-bright-gray:#e2e2e2;
$color-gray:#c4c4c4;
$color-dark-gray:#838383;
$color-1:#ebebeb;
$color-2: #c0c0c0;
$color-3: #a1a1a1;
$color-4: #838383;
$color-5: #464646;
$color-6: #363636;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:1px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;

$per-100:100%;



// -----------------------------------------------------------------------------

*{margin: 0; padding: 0;  box-sizing: border-box;}


@mixin position($posi, $zindx) {
  position: $posi;
  z-index: $zindx;
}

@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
}  

@mixin main-style {
  @include size($per-100, 93vh);
  @include flex-setting(space-evenly, center);
  flex-direction: column;
}


@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}




@mixin font-style($rem, $weight, $col) {
  font-size: $rem ;
  font-weight: $weight;
  color: $col;
}

@mixin posi-style($left, $top, $zin) {
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zin;
}


// ------------------------------------------------------

#root{
  @include root-style();
}

header{
  @include size($per-100, 7vh);
  border-bottom: $solid-gray;
}

main{
  @include main-style();

  &>section{
    @include flex-setting(space-evenly, center);
  }

}

#main-top{
  @include size(95%, 35%);
  position: relative;

  &>div:first-child{
    @include box-style(250px, 250px, $color-1);
    border-radius: 50%;
    @include posi-style(20%, 20%,1);
  }
  
  &>div:last-child{
    @include size(89%, 15%);
    @include posi-style(10%, 60%,2);
    @include font-style(2rem, 600, $color-4);
  }
}

#main-bottom{
  @include size(95%, 50%);
  color: $color-4;

  &>div{
    @include size(45%, 80%);
    @include flex-setting(space-evenly, flex-start);
    flex-direction: column;
  }

}

#left-container{
  &> div:nth-child(1){
    @include box-style(90%,50% , $color-1);
  }

  &> div:nth-child(2){
    @include size(90%, 10%);
    cursor: pointer;
  }

  &> div:nth-child(3){
    @include size(90%, 10%);
    cursor: pointer;

  }
}

#right-container{
  
  &> div:nth-child(1){
    @include size(90%, 10%);
    cursor: pointer;
  }
  
  &> div:nth-child(2){
    @include size(90%, 10%);
    cursor: pointer;
  }

  &> div:nth-child(3){
    @include box-style(90%,50% , $color-1);
  }
}








